In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
import seaborn as sns
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from tensorflow.keras.utils import to_categorical
from sklearn.metrics import confusion_matrix, classification_report
import datetime
import matplotlib.pyplot as plt



#from tensorflow.keras import datasets, layers, models
#import matplotlib.pyplot as plt

In [2]:
# mount drive
from google.colab import drive
drive.mount('/content/drive/', force_remount=True)

# Abrir el path concreto
#Insert here your own path. 
!ls
%cd "/content/drive/MyDrive/Aprendizaje"
!ls

Mounted at /content/drive/
drive  sample_data
/content/drive/MyDrive/Aprendizaje
comp_st27ns1.txt.bz2  final_tree.joblib        tennis.txt
disp_st27ns1.txt.bz2  T1_TreeEvaluation.ipynb

In [3]:
disp_df = pd.read_csv("disp_st27ns1.txt.bz2",
 compression="bz2",
index_col=0)
comp_df = pd.read_csv("comp_st27ns1.txt.bz2",
 compression="bz2",
index_col=0)

In [5]:
disp_df.head(5)

,apcp_sf1_1,apcp_sf2_1,apcp_sf3_1,apcp_sf4_1,apcp_sf5_1,dlwrf_s1_1,dlwrf_s2_1,dlwrf_s3_1,dlwrf_s4_1,dlwrf_s5_1,...,ulwrf_t2_1,ulwrf_t3_1,ulwrf_t4_1,ulwrf_t5_1,uswrf_s1_1,uswrf_s2_1,uswrf_s3_1,uswrf_s4_1,uswrf_s5_1,salida
V1,0.000000,0.000000,0.000000,0.000000,0.000000,279.583582,244.150732,248.810849,260.377672,257.922896,...,246.504475,250.123907,256.887859,252.522390,0.0,10.000000,46.545455,96.000000,63.000000,10814100
V2,0.000000,0.000000,0.010000,0.056364,0.332727,241.907687,273.096852,289.982095,317.169015,309.656355,...,205.821899,202.754549,190.833872,193.689280,0.0,3.909091,17.909091,35.909091,24.000000,3524700
V3,0.372727,0.021818,0.044545,0.010000,0.007273,266.370911,248.814203,253.860367,269.438213,262.840130,...,232.919646,234.298932,207.450058,201.529466,0.0,14.727273,78.363636,156.818182,99.090909,2262300
V4,0.002727,0.004545,0.000000,0.000000,0.000000,246.863048,254.987450,253.493584,243.910921,238.531321,...,231.098594,234.944027,247.745764,241.867405,0.0,7.545455,38.727273,93.909091,62.363636,2414100
V5,0.000000,0.000000,0.000000,0.000000,0.000000,225.253657,233.381596,241.669004,262.122700,262.209190,...,228.161205,229.680077,246.582735,245.473409,0.0,9.454545,44.454545,94.818182,62.363636,8925600

In [6]:
disp_df.tail(5)

,apcp_sf1_1,apcp_sf2_1,apcp_sf3_1,apcp_sf4_1,apcp_sf5_1,dlwrf_s1_1,dlwrf_s2_1,dlwrf_s3_1,dlwrf_s4_1,dlwrf_s5_1,...,ulwrf_t2_1,ulwrf_t3_1,ulwrf_t4_1,ulwrf_t5_1,uswrf_s1_1,uswrf_s2_1,uswrf_s3_1,uswrf_s4_1,uswrf_s5_1,salida
V4376,0.103636,0.031818,0.275455,1.363636,2.723636,290.259560,273.578697,290.364211,336.500117,329.825229,...,244.348444,237.416203,184.462400,184.607586,0.0,7.454545,29.363636,26.181818,16.181818,2586300
V4377,0.042727,0.011818,0.005455,0.000000,0.000000,281.187456,270.918392,261.076105,257.875871,255.614019,...,245.674612,249.425982,259.792969,256.932908,0.0,12.181818,57.909091,118.363636,75.909091,7096500
V4378,0.000000,0.000000,0.000000,0.000000,0.000000,258.991619,266.566642,270.990501,285.661122,282.533206,...,227.978506,236.917554,268.096311,269.024766,0.0,8.272727,44.454545,94.909091,61.909091,10694700
V4379,0.000000,0.000000,0.000000,0.000000,0.000000,267.316595,263.072063,271.107649,292.155748,289.533175,...,262.343628,256.254039,263.650323,268.711556,0.0,10.909091,46.181818,94.363636,61.727273,11154900
V4380,0.000000,0.000000,0.000000,0.000000,0.000000,265.567166,260.618000,269.315979,287.204010,284.632593,...,243.261454,245.428872,258.173867,258.030846,0.0,9.454545,42.727273,90.727273,59.181818,11047800

In [8]:
disp_df.shape

(4380, 76)

In [9]:
disp_df.describe()

,apcp_sf1_1,apcp_sf2_1,apcp_sf3_1,apcp_sf4_1,apcp_sf5_1,dlwrf_s1_1,dlwrf_s2_1,dlwrf_s3_1,dlwrf_s4_1,dlwrf_s5_1,...,ulwrf_t2_1,ulwrf_t3_1,ulwrf_t4_1,ulwrf_t5_1,uswrf_s1_1,uswrf_s2_1,uswrf_s3_1,uswrf_s4_1,uswrf_s5_1,salida
count,4380.000000,4380.000000,4380.000000,4380.000000,4380.000000,4380.000000,4380.000000,4380.000000,4380.000000,4380.000000,...,4380.000000,4380.000000,4380.000000,4380.000000,4380.000000,4380.000000,4380.000000,4380.000000,4380.000000,4.380000e+03
mean,0.680864,0.295715,0.560493,0.314416,0.633132,313.273646,315.987828,323.916601,343.364923,342.400159,...,244.622084,249.168372,259.334746,258.017321,0.161146,39.177252,73.645019,117.929556,90.196824,1.563380e+07
std,2.428075,1.150189,2.004093,1.052649,2.046562,55.814758,58.638442,59.902811,63.252590,63.356754,...,37.643788,37.682334,41.063270,40.327808,0.359916,26.040578,31.372578,43.613978,35.478830,8.034871e+06
min,0.000000,0.000000,0.000000,0.000000,0.000000,155.153588,152.214722,156.433634,168.872932,169.850136,...,112.273223,120.532820,108.696960,113.352032,0.000000,0.000000,2.000000,4.181818,2.727273,2.367000e+05
25%,0.000000,0.000000,0.000000,0.000000,0.000000,267.695476,267.413078,275.156984,292.641835,291.756962,...,227.328584,230.584259,239.253765,238.054149,0.000000,14.886364,50.181818,98.181818,65.545455,9.617175e+06
50%,0.000000,0.000000,0.000000,0.000000,0.000000,318.375947,322.670428,329.227325,346.983034,345.283217,...,249.642644,254.083740,266.566240,264.581923,0.000000,36.409091,78.000000,126.090909,95.272727,1.556790e+07
75%,0.151818,0.071136,0.176364,0.074773,0.171136,362.370395,367.887140,377.571733,399.169037,398.387048,...,273.364252,277.758348,289.760780,288.576924,0.000000,62.477273,99.909091,144.636364,118.181818,2.253825e+07
max,49.250909,22.713636,32.225454,14.722727,31.407273,419.721752,425.380085,428.193354,473.704812,467.151586,...,310.361004,315.971533,331.714963,328.803999,1.000000,91.272727,274.272727,547.545455,363.818182,3.145350e+07

In [10]:
disp_df.dtypes

apcp_sf1_1    float64
apcp_sf2_1    float64
apcp_sf3_1    float64
apcp_sf4_1    float64
apcp_sf5_1    float64
               ...
uswrf_s2_1    float64
uswrf_s3_1    float64
uswrf_s4_1    float64
uswrf_s5_1    float64
salida          int64
Length: 76, dtype: object

In [11]:
disp_df.count

<bound method DataFrame.count of        apcp_sf1_1  apcp_sf2_1  apcp_sf3_1  apcp_sf4_1  apcp_sf5_1  dlwrf_s1_1  \
V1       0.000000    0.000000    0.000000    0.000000    0.000000  279.583582
V2       0.000000    0.000000    0.010000    0.056364    0.332727  241.907687
V3       0.372727    0.021818    0.044545    0.010000    0.007273  266.370911
V4       0.002727    0.004545    0.000000    0.000000    0.000000  246.863048
V5       0.000000    0.000000    0.000000    0.000000    0.000000  225.253657
...           ...         ...         ...         ...         ...         ...
V4376    0.103636    0.031818    0.275455    1.363636    2.723636  290.259560
V4377    0.042727    0.011818    0.005455    0.000000    0.000000  281.187456
V4378    0.000000    0.000000    0.000000    0.000000    0.000000  258.991619
V4379    0.000000    0.000000    0.000000    0.000000    0.000000  267.316595
V4380    0.000000    0.000000    0.000000    0.000000    0.000000  265.567166

       dlwrf_s2_1  dlwrf_s3_1  dlwrf_s4_1  dlwrf_s5_1  ...  ulwrf_t2_1  \
V1     244.150732  248.810849  260.377672  257.922896  ...  246.504475
V2     273.096852  289.982095  317.169015  309.656355  ...  205.821899
V3     248.814203  253.860367  269.438213  262.840130  ...  232.919646
V4     254.987450  253.493584  243.910921  238.531321  ...  231.098594
V5     233.381596  241.669004  262.122700  262.209190  ...  228.161205
...           ...         ...         ...         ...  ...         ...
V4376  273.578697  290.364211  336.500117  329.825229  ...  244.348444
V4377  270.918392  261.076105  257.875871  255.614019  ...  245.674612
V4378  266.566642  270.990501  285.661122  282.533206  ...  227.978506
V4379  263.072063  271.107649  292.155748  289.533175  ...  262.343628
V4380  260.618000  269.315979  287.204010  284.632593  ...  243.261454

       ulwrf_t3_1  ulwrf_t4_1  ulwrf_t5_1  uswrf_s1_1  uswrf_s2_1  uswrf_s3_1  \
V1     250.123907  256.887859  252.522390         0.0   10.000000   46.545455
V2     202.754549  190.833872  193.689280         0.0    3.909091   17.909091
V3     234.298932  207.450058  201.529466         0.0   14.727273   78.363636
V4     234.944027  247.745764  241.867405         0.0    7.545455   38.727273
V5     229.680077  246.582735  245.473409         0.0    9.454545   44.454545
...           ...         ...         ...         ...         ...         ...
V4376  237.416203  184.462400  184.607586         0.0    7.454545   29.363636
V4377  249.425982  259.792969  256.932908         0.0   12.181818   57.909091
V4378  236.917554  268.096311  269.024766         0.0    8.272727   44.454545
V4379  256.254039  263.650323  268.711556         0.0   10.909091   46.181818
V4380  245.428872  258.173867  258.030846         0.0    9.454545   42.727273

       uswrf_s4_1  uswrf_s5_1    salida
V1      96.000000   63.000000  10814100
V2      35.909091   24.000000   3524700
V3     156.818182   99.090909   2262300
V4      93.909091   62.363636   2414100
V5      94.818182   62.363636   8925600
...           ...         ...       ...
V4376   26.181818   16.181818   2586300
V4377  118.363636   75.909091   7096500
V4378   94.909091   61.909091  10694700
V4379   94.363636   61.727273  11154900
V4380   90.727273   59.181818  11047800

[4380 rows x 76 columns]>

In [15]:
disp_df_unicos = disp_df.drop_duplicates()
disp_df_unicos.shape

(4380, 76)

In [34]:
#Creamos el conjunto de entrenamiento separando X e Y

input_cols = disp_df.columns[:75]
n_rows = 3650
subset_df = disp_df.iloc[:n_rows]
X_train_df = subset_df.iloc[:, :75]

y_train_df = subset_df.iloc[:, -1:]



#----------------------------------
#comprobamos que funcione correctamente 


#Conjunto de entrenamiento de X
X_train_df.shape
X_train_df.head(5)
X_train_df.tail(5)


#Conjunto de entrenamiento de y
y_train_df.shape
y_train_df.head(5)
y_train_df.tail(5)

      salida
V1  10814100
V2   3524700
V3   2262300
V4   2414100
V5   8925600

In [29]:
#Ahora creamos el conjunto de test de manera manual

test_df = disp_df.iloc[-730:, :]

input_cols = disp_df.columns[:75]
output_col = disp_df.columns[-1]


X_test_df = test_df.loc[:, input_cols]
y_test_df = test_df.loc[:, output_col]


#----------------------------------
#comprobamos que funcione correctamente

#Conjunto de Validación de X
X_test_df.shape
X_test_df.head(5)
X_test_df.tail(5)


#Conjunto de Validación de y
y_test_df.shape
y_test_df.head(5)
y_test_df.tail(5)

V4376     2586300
V4377     7096500
V4378    10694700
V4379    11154900
V4380    11047800
Name: salida, dtype: int64